<nav>
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">
            SM<span class='logo'>Story Maker</span>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="fas fa-bars"></i>
        </a>

        <ul class="right hide-on-med-and-down">
            <li><a href="/stories">Public stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="auth/logout">Logout</a></li>
        </ul>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <div>
            <li><a href="/stories">Public stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="auth/logout">Logout</a></li>
        </div>
    </ul>
</nav>
          