<h4> <i class="fas fa-book-reader"></i> Story Maker </h4>
<div class="section">
    <p class="lead">Create public and private stories</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="auth/google" class="btn blue darken-1">
        <i class="fab fa-google left"></i> Login with Google
    </a>
</div>