*{box-sizing: border-box;}

p {
    margin-top: 10px 0 !important;
}

#mobile-demo > div {
    margin-top: 1.5rem;
}

.login-container {
    width: 500px;
    max-width: 90%;
    margin: 10% auto 0;
    padding: 0.8rem;
    text-align: center;
}

.card {
    border-radius: 10px;
}

.card:hover {
    box-shadow: 4px 4px 4px rgb(121, 123, 124);
}

.logo {
    font-size: 18px;
    
}

.form-container {
    padding: 1.2rem;
    margin: 1.2rem auto;
}

.public {
    margin: 1.2rem 0;
}

.public .card {
    background-color: beige
}

#fab {
    background-color: #ee6e73;
}